@model IEnumerable<Text_Name_Search.Models.ArticleNames>

@{
    ViewBag.Title = "NamesOccured";
}

<h2>NamesOccured</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalOccurance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalOccurance)
        </td>
    </tr>
}

</table>
