
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#nameSearchTab">Add Names</a>
    </li>
</ul>

<div class="tab-content">
    <div id="nameSearchTab" class="tab-pane fade in active">
        @Html.Action("AddName")
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    }